<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Details</h1>
    <br><br><br>
    <form action="/create" method="post">
        <input type="text" placeholder="POSTER-URL" name="Poster"><br> <br>
        <input type="text" placeholder="Book-Name" name="Name"><br> <br>
        <input type="text" placeholder="Author" name="Author"><br> <br>
        <input type="number" placeholder="price" name="Price"><br><br>
        <input type="text" placeholder="ISBN NO>" name="Isbn"><br><br>
        <textarea name="description"></textarea>

        <!-- <br> <br>  <a href="/create">create</a> -->
         <button>create</button>
    </form>
</body>
</html>