<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Details</h1>
    <br><br><br>
    <form action="/create" method="post">
        <input type="text" placeholder="Owner-Name" name="Name"><br> <br>
        <input type="text" placeholder="Property-Title" name="Title"><br> <br>
        <input type="text" placeholder="Price" name="Price"><br> <br>
        <input type="text" placeholder="Address" name="Address"><br><br>
        <input type="number" placeholder="Phone-Number" name="Contact"><br><br>
        <textarea name="description"></textarea>
        <br>
        <input type="text" placeholder="Property-Image" name="Poster"><br> <br>


        <!-- <br> <br>  <a href="/create">create</a> -->
         <button>create</button>
    </form>
</body>
</html>